<div class="whiteBG">
  <div class="ContainerBG">
    <form role="form" [formGroup]="rForm">
      <h4>Beitrag
        <small>von {{ post.creator }}</small>
      </h4>
      <h5>
        <small>Erstellt am {{ post.createdAt }}, zuletzt aktualisiert am {{ post.updatedAt }}</small>
      </h5>
      <blockquote *ngIf="!editMode" [innerHtml]="post.content | trustHtml"></blockquote>

      <!-- ************* EDIT POST START ************* -->
      <div *ngIf="editMode">
        <quill-editor [(ngModel)]="updatedPost.contentHtml" [modules]="editorModules" class="editor" title="Beitrag" name="description"
          formControlName="editPostDescription"></quill-editor>
        <div class="alert alert-danger fade in" *ngIf="editPostDescription.invalid && (editPostDescription.dirty || editPostDescription.touched)">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <strong>Fehler!</strong> {{ titleAlert }}
        </div>
      </div>
      <!-- ************* EDIT POST END ************* -->

      <button [disabled]="!rForm.valid" *ngIf="post.canEdit && editMode" class="btn btn-primary btn-sm" title="Änderungen am Beitrag sichern"
        (click)="update()">
        <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i>&nbsp;Änderungen sichern
      </button>
      <button *ngIf="post.canEdit && !editMode" class="btn btn-primary btn-sm" title="Beitrag bearbeiten" (click)="toggleEditMode()">
        &nbsp;
        <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>&nbsp;
      </button>
      <button *ngIf="post.canEdit && !editMode" class="btn btn-danger btn-sm" title="Beitrag löschen" (click)="openModal(post)">
        &nbsp;
        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>&nbsp;
      </button>
    </form>
  </div>
</div>

<!-- ************* MODAL START ************* -->
<app-delete-data-modal>
  <div class="app-modal-header">
    Beitrag löschen
  </div>
  <div class="app-modal-body">
    Sind Sie sich sicher, dass Sie den Beitrag wirklich löschen möchten?
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.hide()">Abbrechen</button>
    <button type="button" class="btn btn-primary" (click)="deletePost(modal.entity.id)">Beitrag endgültig löschen</button>
  </div>
</app-delete-data-modal>
<!-- ************* MODAL END ************* -->