.glyphiconWhite {
  color: white;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-archive {
  background-color: #023c5b;
  color: white;
}

.btn-archive:hover {
  background-color: #03293d;
  color: white;
}

.list-group {
  border-radius: 0;
}

.active {
  background-color: #247aa8;
}

.active:hover {
  background-color: #1d648a;
}
