<div>
  <div class="row">
    <div class="col-xs-12 col-md-8"></div>
    <div class="col-xs-6 col-md-4 input-group pull-right">
      <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control searchWitdh" placeholder="Nach Themen und Beiträgen suchen...">
      <span class="input-group-btn">
        <button type="button" class="btn btn-success" (click)="search()">Los!</button>
      </span>
    </div>
  </div>
</div>