<div>
  <ol class="breadcrumb">
    <!-- ************* BREADCRUMB START ************* -->
    <li>
      <a [routerLink]="['/forums']">Forenübersicht</a>
    </li>
    <li class="active"> Forum {{ originalData.name }} bearbeiten</li>
  </ol>
  <!-- ************* BREADCRUMB END ************* -->

</div>
<div class="marginContent">
  <h1>Forum {{ originalData.name }} bearbeiten</h1>
</div>

<form role="form" [formGroup]="rForm">
  <div class="form-group">
    <!-- ************* CONFIGURATION FORUM START ************* -->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 configBG">
      <h4>Konfiguriation</h4>
      <!-- ************* ACTIVATION SHOW FORUM START ************* -->
      <p>Forum anzeigen für</p>
      <label class="radio-inline">
        <input type="radio" name="showForum" class="form-check-input" id="showForumAll" value="DEFAULT_USER" [(ngModel)]="forum.roleReadForum"
          [ngModelOptions]="{standalone: true}">Alle
      </label>
      <label class="radio-inline">
        <input type="radio" name="showForum" class="form-check-input" id="showForumAdmin" value="ADMIN" [(ngModel)]="forum.roleReadForum"
          [ngModelOptions]="{standalone: true}">Admins
      </label>
      <hr>
      <!-- ************* ACTIVATION SHOW FORUM END ************* -->

      <!-- ************* ACTIVATION CREATE AND EDIT THREADS START ************* -->
      <p>Erstellung und Bearbeitung von Themen erlauben, für</p>
      <label class="radio-inline">
        <input type="radio" name="letCreateThread" class="form-check-input" id="letCreateThreadAll" value="DEFAULT_USER" [(ngModel)]="forum.roleCreateUpdateThread"
          [ngModelOptions]="{standalone: true}">Alle
      </label>
      <label class="radio-inline">
        <input type="radio" name="letCreateThread" class="form-check-input" id="letCreateThreadAdmin" value="ADMIN" [(ngModel)]="forum.roleCreateUpdateThread"
          [ngModelOptions]="{standalone: true}">Admins
      </label>
      <hr>
      <!-- ************* ACTIVATION CREATE AND EDIT THREADS END ************* -->

      <!-- ************* ACTIVATION CREATE AND EDIT POSTS START ************* -->
      <p>Erstellung und Bearbeitung von Beiträgen erlauben, für</p>
      <label class="radio-inline">
        <input name="letCreatePosts" class="form-check-input" type="radio" id="letCreatePostsAll" value="DEFAULT_USER" [(ngModel)]="forum.roleCreateUpdatePost"
          [ngModelOptions]="{standalone: true}">Alle
      </label>
      <label class="radio-inline">
        <input name="letCreatePosts" class="form-check-input" type="radio" id="letCreatePostsAdmin" value="ADMIN" [(ngModel)]="forum.roleCreateUpdatePost"
          [ngModelOptions]="{standalone: true}">Admins
      </label>
      <hr>
      <!-- ************* ACTIVATION CREATE AND EDIT POSTS END ************* -->

      <!-- ************* ACTIVATION STATUS START ************* -->
      <p>Aktivierung für Statusfunktion</p>
      <label class="radio-inline">
        <input [(ngModel)]="forum.featureThreadStatus" name="checkFeatureThreadStatus" class="form-check-input marginRight" type="checkbox"
          id="checkFeatureThreadStatus" [ngModelOptions]="{standalone: true}">Statusfunktion aktivieren
      </label>
      <!-- ************* ACTIVATION STATUS END ************* -->
    </div>
    <!-- ************* CONFIGURATION FORUM END ************* -->

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 createForumBlock">
      <div class="form-group marginBottom">
        <!-- ************* CREATE FORUM-NAME START ************* -->
        <label for="name">Forenname</label>
        <input [(ngModel)]="forum.name" formControlName="name" type="text" class="form-control" name="name" id="name" placeholder="Tolles Forum"
          title="Forenname">
        <small>Geben Sie Ihrem Forum einen Namen</small>
        <!-- ************* CREATE FORUM-NAME END ************* -->

        <div class="alert alert-danger fade in" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <strong>Fehler!</strong> {{ titleAlert }}
        </div>
      </div>

      <!-- ************* CREATE FORUM-TYPE START ************* -->
      <div class="form-group marginBottom">
        <label for="type">Forentyp</label>
        <select name="type" [(ngModel)]="forum.type" formControlName="type" class="form-control" required title="Forentyp bearbeiten">
          <option value="" disabled selected>Forentyp wählen...</option>
          <option *ngFor="let type of forumTypes" [value]="type.key">{{ type.value }}</option>
        </select>
        <small>Wählen Sie einen Forentyp</small>

        <div class="alert alert-danger fade in" *ngIf="!rForm.controls['type'].valid && rForm.controls['type'].touched">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <strong>Fehler!</strong> {{ titleAlert }}
        </div>
      </div>
      <!-- ************* CREATE FORUM-TYPE END ************* -->

      <!-- ************* CREATE FORUM-DESCRIPTION START ************* -->
      <div class="form-group">
        <label for="editForumDescription">Beschreibung des Forums</label>
        <quill-editor [(ngModel)]="forum.description" [modules]="editorModules" class="editor" id="editForumDescription" name="editForumDescription"
          title="Forenbeschreibung" formControlName="description" required></quill-editor>

        <div class="alert alert-danger fade in" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <strong>Fehler!</strong> {{ titleAlert }}
        </div>
      </div>
      <!--*************  CREATE FORUM-DESCRIPTION END ************* -->
      <div class="form-group">
        <button [disabled]="!rForm.valid" (click)="update()" class="btn btn-info btn-block marginContent editor" title="Änderungen an {{ originalData.name }} speichern">Änderungen an {{ originalData.name }} speichern</button>
      </div>
      <div class="alert alert-success marginContent" role="alert" *ngIf="updateSuccess">
        <h4 class="alert-heading">Änderungen erfolgreich gesichert!</h4>
        <p>Das Forum {{ forum.name }} wurde geändert!</p>
      </div>

      <div class="alert alert-danger marginContent" role="alert" *ngIf="updateFailed">
        <h4 class="alert-heading">Fehler!</h4>
        <p>Ihre Änderungen am Forum {{ forum.name }} konnten nicht gesichert werden. Versuchen Sie es später erneut!</p>
      </div>
    </div>
  </div>
</form>