.form-control {
  width: 90%;
}

select option:disabled {
  color: #808080;
}

.editor {
  max-width: 100%;
}

.marginBottom {
  margin-bottom: 2em;
}

.marginRight {
  margin-right: 1em;
}

.configBG {
  background-color: #48A0CF;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  padding-top: 0.8em;
  padding-bottom: 1.2em;
  min-height: 31.5em;
  color: white;
}

.createForumBlock {
  padding-left: 2em;
  padding-top: 3em;
  background-color: white;
  min-height: 31.5em;
  padding-bottom: 2em;
}
