<div>
  <!-- ************* BREADCRUMB START ************* -->
  <ol class="breadcrumb">
    <li>
      <a [routerLink]="['/forums']">Forenübersicht</a>
    </li>
    <li>
      <a [routerLink]="['/forum', forumId]"> {{ forumName }} </a>
    </li>
    <li class="active"> Neues Thema erstellen </li>
  </ol>
  <!-- ************* BREADCRUMB END ************* -->
</div>
<div class="whiteBG">

  <div class="marginContent">
    <h1>{{ forumName }}
      <small>Neues Thema erstellen</small>
    </h1>
  </div>
  <form role="form" [formGroup]="rForm">

    <!-- ************* CONFIGURATION THREAD START ************* -->
    <div class="blueBG" *ngIf="userIsAdmin">
      <div class="checkbox">
        <!-- ************* ACTIVATION THREAD START ************* -->
        <label>
          <input [(ngModel)]="thread.unlock" [ngModelOptions]="{standalone: true}" name="checkActivation" class="form-check-input marginRight"
            type="checkbox" id="checkAcivation">Thema sofort aktivieren
        </label>
        <!-- ************* ACTIVATION THREAD END ************* -->
      </div>
    </div>
    <!-- ************* CONFIGURATION THREAD END ************* -->

    <div class="form-group">
      <!-- ************* CREATE THREAD-NAME START ************* -->
      <label for="name">Thema</label>
      <input formControlName="title" [(ngModel)]="thread.title" name="title" type="text" class="form-control createNewForum" id="name"
        placeholder="Wichtiges Thema" title="Thema">
      <small>Geben Sie Ihrem Thema eine Überschrift</small>
      <div class="alert alert-danger fade in" *ngIf="!rForm.controls['title'].valid && rForm.controls['title'].touched">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Fehler!</strong> {{ titleAlert }}
      </div>
    </div>
    <!-- ************* CREATE THREAD-NAME END ************* -->

    <!-- ************* CREATE THREAD-DESCRIPTION START ************* -->
    <div>
      <div>
        <label>Beschreibung des Themas</label>
      </div>
      <quill-editor [(ngModel)]="thread.descriptionHtml" [modules]="editorModules" formControlName="threadDescription" name="threadDescription"
        class="editor marginBottom" title="Themenbeschreibung" placeholder="Hier Themenbeschreibung eingeben..."></quill-editor>
      <div class="alert alert-danger fade in" *ngIf="!rForm.controls['threadDescription'].valid && rForm.controls['threadDescription'].touched">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Fehler!</strong> {{ titleAlert }}
      </div>
    </div>
    <!-- ************* CREATE THREAD-DESCRIPTION END ************* -->
    <button (click)="create()" [disabled]="!rForm.valid" class="btn btn-info btn-block marginContent createNewForum" title="Neues Thema anlegen">Neues Thema anlegen</button>
  </form>
</div>