.form-control {
  width: 90%;
}

select option:disabled {
  color: #808080;
}

.alert {
  width: 20em;
}

.createNewForum {
  width: 25em;
  max-width: 18em;
}

.editor {
  max-width: 100%;
}

.marginBottom {
  margin-bottom: 2em;
}

.marginRight {
  margin-right: 1em;
}

.blueBG {
  background-color: #48A0CF;
  border: 1px solid #dddddd;
  padding: 1em;
  color: white;
  margin-bottom: 1.5em;
}

.whiteBG {
  background-color: white;
  border: 1px solid #dddddd;
  padding: 1em;
}
