.btnMargin {
  margin-right: 0.8em;
}

.list-group {
  border-radius: 0;
}

.active {
  background-color: #48A0CF;
}

.active:hover {
  background-color: #247aa8;
}

.btn-outline-primary {
  background-color: white;
  border-color: #247aa8;
  color: #247aa8;
}

.btn-outline-primary:hover {
  background-color: #EEEEEE;
}
