<div>
  <!-- ************* BREADCRUMB START ************* -->
  <ol class="breadcrumb">
    <li>
      <a [routerLink]="['/forums']">Forenübersicht</a>
    </li>
  </ol>
  <!-- ************* BREADCRUMB END ************* -->

  <app-search></app-search>
</div>

<div class="marginContent">
  <div class="row">
    <div class="col-xs-12">
      <h1>NTAG - Alle Foren</h1>
      <h2>
        <small>Forenübersicht</small>
      </h2>
    </div>
    <div class="col-xs-12">
      <button *ngIf="userIsAdmin()" type="button" [routerLink]="['/forum-create']" class="btn btn-primary btn-sm marginBottom">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Neues Forum erstellen
      </button>
    </div>
  </div>
</div>

<div class="marginContent">
  <div class="list-group" *ngFor="let forum of view.forums; let i = index;">
    <a [routerLink]="['/forum', forum.id]" class="list-group-item list-group-item-action active">
      <b>{{ forum.name }}</b>,
      <small>erstellt von: {{ forum.creator }}</small>
    </a>
    <a [routerLink]="['/forum', forum.id]" class="list-group-item list-group-item-action">Forentyp: {{ forum.type | translateForumType }} | Themenanzahl: {{ forum.numberOfThreads }}</a>
    <li class="list-group-item" *ngIf="userIsAdmin()">
      <div class="row">
        <div class="col-xs-8 col-sm-8">
          <a [routerLink]="['/forum', forum.id, 'edit']" *ngIf="userIsAdmin()" class="btn btn-primary btn-sm btnMargin" role="button"
            title="Forum bearbeiten">
            &nbsp;
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> &nbsp;
          </a>
          <button *ngIf="userIsAdmin()" href="#" class="btn btn-danger btn-sm btnMargin" type="button" title="Forum löschen" (click)="openModal(forum)">
            &nbsp;
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;
          </button>
        </div>

        <div class="col-xs-2 col-sm-4 text-right">
          <button *ngIf="userIsAdmin()" class="btn btn-outline-primary btn-sm btnMargin" type="button" title="Nach oben sortieren"
            [disabled]="disableSortBtn(false, i)" (click)="sortUp(i)">
            &nbsp;
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> &nbsp;
          </button>
          <button *ngIf="userIsAdmin()" class="btn btn-outline-primary btn-sm" type="button" title="Nach unten sortieren" [disabled]="disableSortBtn(true, i)"
            (click)="sortDown(i)">
            &nbsp;
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> &nbsp;
          </button>
        </div>
      </div>
    </li>
  </div>
  <ul class="list-group" *ngIf="!view.forums || hasNoForums()">
    <li class="text-center list-group-item active">Keine Foren vorhanden</li>
  </ul>
</div>
<!-- ************* PAGINATION START ************* -->
<app-pagination [paging]="view.paging" (pagingByNumberEvent)="onPagingByNumberEvent($event)" (pagignPrevResponseEvent)="handlePagingResponseEvents($event)"
  (pagingNextResponseEvent)="handlePagingResponseEvents($event)">
</app-pagination>
<!-- ************* PAGINATION END ************* -->

<!-- ************* MODAL START ************* -->
<app-delete-data-modal>
  <div class="app-modal-header">
    Forum {{ modal.entity.name }} löschen
  </div>
  <div class="app-modal-body">
    Sind Sie sich sicher, dass Sie das Forum {{ modal.entity.name }} wirklich löschen möchten?
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.hide()">Abbrechen</button>
    <button type="button" class="btn btn-primary" (click)="deleteForum(modal.entity.id)">Forum endgültig löschen</button>
  </div>
</app-delete-data-modal>
<!-- ************* MODAL END ************* -->