<div>
  <ol class="breadcrumb">
    <!-- ************* BREADCRUMB START ************* -->
    <li>
      <a [routerLink]="['/forums']">Forenübersicht</a>
    </li>
    <li class="active"> {{ view.name }} </li>
  </ol>
  <app-search></app-search>
  <div class="row marginContent">
    <div class="col-xs-12 text-right">
      <a *ngIf="view.userCanCreateThread" [routerLink]="['thread-create']" role="button" class="btn btn-primary btn-sm">Neues Thema erstellen</a>
    </div>
  </div>
</div>
<!-- ************* BREADCRUMB END ************* -->

<div class="marginContent ContainerBG">
  <h1>{{ view.name }}</h1>
  <h2>
    <small>Typ: {{ view.type | translateForumType }}</small>
  </h2>
  <blockquote [innerHtml]="view.description | trustHtml"></blockquote>
</div>

<app-thread-list *ngIf="!userIsAdmin()" [view]="view.threadList" [forumId]="forumId"></app-thread-list>

<!-- ************* ADMIN TABS START *************-->
<div class="marginContent" *ngIf="userIsAdmin()">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#threads">Alle Themen</a>
    </li>
    <li>
      <a data-toggle="tab" href="#threadsArchive">Archivierte Themen</a>
    </li>
    <li>
      <a data-toggle="tab" href="#threadsDeleted">Gelöschte Themen</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="threads" class="tab-pane fade in active">
      <app-thread-list [view]="view.threadList" [forumId]="forumId" (archiveThreadEvent)="onArchiveThreadEvent()"></app-thread-list>
    </div>

    <div id="threadsArchive" class="tab-pane fade">
      <app-thread-archived [view]="view.archivedThreadList" [forumId]="forumId" (recoverThreadEvent)="onRecoverThread($event)"></app-thread-archived>
    </div>

    <div id="threadsDeleted" class="tab-pane fade">
      <app-thread-deleted [view]="view.deletedThreadList" [forumId]="forumId" (recoverThreadEvent)="onRecoverThread($event)"></app-thread-deleted>
    </div>
  </div>
  <!-- ************* ADMIN TABS END *************-->
</div>