<div class="marginContent">
  <div class="list-group" *ngFor="let thread of view.threads; let i = index">
    <a [routerLink]="['./thread', thread.id]" class="list-group-item list-group-item-action active">
      <b>{{ thread.title }}</b>,
      <small>erstellt von: {{ thread.creator }}</small>
    </a>
    <a [routerLink]="['./thread', thread.id]" class="list-group-item list-group-item-action" *ngIf="view.forumHasStatusFeature">Status der Ankündigung: {{ thread.status | translateThreadStatus }}</a>
    <a [routerLink]="['./thread', thread.id]" class="list-group-item list-group-item-action ellipsis" [innerHtml]="thread.description | trustHtml"></a>
    <li class="list-group-item">
      <button type="button" class="btn btn-danger btn-sm marginBtn" title="Thema löschen" (click)="openModal(thread)">
        &nbsp;
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;
      </button>
      <button (click)="recoverThread(thread.id)" type="button" class="btn btn-success btn-sm" title="Thema wiederherstellen">
        &nbsp;
        <i class="glyphicon glyphiconWhite glyphicon-floppy-open" aria-hidden="true"></i>&nbsp;
      </button>
    </li>
  </div>
  <ul class="list-group" *ngIf="!view.threads || hasNoArchivedThreads()">
    <li class="text-center list-group-item active">Keine archivierten Themen im Forum vorhanden</li>
  </ul>
</div>

<!-- ************* PAGINATION START ************* -->
<app-pagination 
[paging]="view.paging" 
(pagingByNumberEvent)="onPagingByNumberEvent($event)" 
(pagignPrevResponseEvent)="handlePagingResponseEvents($event)"
(pagingNextResponseEvent)="handlePagingResponseEvents($event)">
</app-pagination>
<!-- ************* PAGINATION END ************* -->

<!-- ************* MODAL START ************* -->
<app-delete-data-modal>
  <div class="app-modal-header">
    Thema {{ modal.entity.name }} löschen
  </div>
  <div class="app-modal-body">
    Sind Sie sich sicher, dass Sie das Thema {{ modal.entity.name }} wirklich löschen möchten?
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.hide()">Abbrechen</button>
    <button type="button" class="btn btn-primary" (click)="deleteThread(modal.entity.id)">Thema endgültig löschen</button>
  </div>
</app-delete-data-modal>
<!-- ************* MODAL END ************* -->