.list-group {
  border-radius: 0;
}

.active {
  background-color: #1f9b7c;
}

.active:hover {
  background-color: #178065;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  border-color: #178065;
  ;
}

.btn-success {
  color: white;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
