<!-- ************* CREATE POST START ************* -->
<div class="whiteBG">
  <form role="form" [formGroup]="rForm">
    <div>
      <label>Einen neuen Beitrag erstellen</label>
    </div>
    <quill-editor placeholder="Beitrag hier eingeben..." [(ngModel)]="post.contentHtml" [modules]="editorModules" class="editor"
      name="description" title="Beitrag" formControlName="postDescription"></quill-editor>

    <button (click)="create()" class="btn btn-info btn-sm" type="button" title="Beitrag sichern" [disabled]="rForm.invalid">
      <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Beitrag sichern</button>
  </form>
</div>
<!-- ************* CREATE POST END ************* -->