<div *ngFor="let post of view.posts" [ngStyle]="getStyle(post)">
  <app-post-edit [post]="post" (postDeleted)="onPostDeleted(post)"></app-post-edit>
</div>
<!-- ************* PAGINATION START ************* -->
<div class="marginContent">
    <app-pagination
    [paging]="view.paging" 
    (pagingByNumberEvent)="onPagingByNumberEvent($event)"
    (pagignPrevResponseEvent)="handlePagingResponseEvents($event)" 
    (pagingNextResponseEvent)="handlePagingResponseEvents($event)">
  </app-pagination>
</div>
<!-- ************* PAGINATION END ************* -->
