<!-- ************* LOGIN START ************* -->
<div>
  <div class="row" style="margin-top:60px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form" [formGroup]="rForm">
        <fieldset>
          <h2>Herzlich Willkommen im Forum!</h2>
          <hr class="colorgraph">
          <div class="form-group">
            <label for="username">Benutzername</label>
            <input [(ngModel)]="username" formControlName="fcUsername" type="text" name="username" id="username" class="form-control fullWidth"
              placeholder="Benutzername">
            <small>Geben Sie Ihren Benutzernamen ein</small>
          </div>
          <div class="alert alert-danger fade in" *ngIf="!rForm.controls['fcUsername'].valid && rForm.controls['fcUsername'].touched">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Fehler!</strong> {{ titleAlert }}
          </div>
          <div class="form-group">
            <label for="password">Passwort</label>
            <input [(ngModel)]="password" formControlName="fcPassword" type="password" name="password" id="password" class="form-control fullWidth"
              placeholder="Passwort">
            <small>Geben Sie Ihr Passwort ein</small>
          </div>
          <div class="alert alert-danger fade in" *ngIf="!rForm.controls['fcPassword'].valid && rForm.controls['fcPassword'].touched">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Fehler!</strong> {{ titleAlert }}
          </div>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <button type="button" (click)="login()" class="btn btn-lg btn-success btn-block" [disabled]="!rForm.valid">Anmelden</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<!-- ************* LOGIN END ************* -->