<div>
  <!-- ************* BREADCRUMB START ************* -->
  <ol class="breadcrumb">
    <li>
      <a [routerLink]="['/forums']">Forenübersicht</a>
    </li>
    <li class="active"> Suchergebnis </li>
  </ol>
  <app-search (searchEvent)="updateResults($event)"></app-search>
  <!-- ************* BREADCRUMB END ************* -->
</div>

<div class="ContainerBG marginContent">

  <h1>Suchergebnisse</h1>
  <h2>
    <small>Suchergebnisse für {{searchResults.searchTerm}}</small>
  </h2>
  <div>
    <hr>
    <h3>Suchergebnisse anzeigen für:</h3>
    <label class="radio-inline">
      <input [(ngModel)]="filterByThreads" name="filterThreads" class="form-check-input marginRight" type="checkbox" id="filterThreads">Themen
    </label>
    <label class="radio-inline">
      <input [(ngModel)]="filterByPosts" name="filterPosts" class="form-check-input marginRight" type="checkbox" id="filterPosts">Beiträge
    </label>
    <hr>
  </div>
  <h4>
    <small class="marginBottom">Anzahl der gefundenen Suchergebnisse: {{ searchResults.count }}</small>
  </h4>
</div>
<div class="marginContent ContainerBG">
  <ng-container *ngIf="filterByThreads">
    <div class="marginContent" *ngFor="let thread of searchResults.threads">
      <h3 innerHTML="{{ thread.heading | highlightSearchTerm:searchResults.searchTerm }}"></h3>
      <p>Forum: {{ thread.forumName }}</p>
      <p>Erstellt von {{ thread.creator }}</p>
      <a routerLink="/forum/{{thread.forumId}}/thread/{{thread.id}}">Hier ist der link zu dem gesuchten Thema</a>
      <blockquote innerHTML="{{ thread.description | highlightSearchTerm:searchResults.searchTerm }}"></blockquote>
      <hr>
    </div>
  </ng-container>

  <ng-container *ngIf="filterByPosts">
    <div class="marginContent" *ngFor="let post of searchResults.posts">
      <h3>{{ post.heading }}</h3>
      <p>Forum: {{ post.forumName }}</p>
      <p>Erstellt von {{ post.creator }}</p>
      <a routerLink="/forum/{{post.forumId}}/thread/{{post.threadId}}" [queryParams]="{ highlightPostId: post.id }">Hier ist der link zu dem gesuchten Beitrag</a>
      <blockquote innerHTML="{{ post.description | highlightSearchTerm:searchResults.searchTerm  }}"></blockquote>
      <hr>
    </div>
  </ng-container>
</div>