<div>
  <ol class="breadcrumb">
    <!-- ************* BREADCRUMB START ************* -->
    <li>
      <a [routerLink]="['/forums']">Forenübersicht</a>
    </li>
    <li>
      <a [routerLink]="['/forum', view.forumId]">{{ view.forumName }} </a>
    </li>
    <li class="active"> {{ view.title }} </li>
  </ol>
  <app-search></app-search>
  <!-- ************* BREADCRUMB END ************* -->
</div>
<div class="marginContent ContainerBG">
  <h1>{{ view.title }}
    <small>von {{ view.creator }}</small>
  </h1>
  <small>Erstellt am {{ view.createdAt }}, zuletzt aktualisiert am {{ view.updatedAt }}</small>
  <div class="widthStatus">

    <!-- ************* USER VIEW START ************* -->
    <div class="alert" [ngClass]="getClassForStatus()" role="alert" *ngIf="!userIsAdmin()">
      <strong>{{ view.status | translateThreadStatus }}</strong>
    </div>
    <!-- ************* USER VIEW END ************* -->

    <!-- ************* ADMIN VIEW START ************* -->
    <fieldset *ngIf="userIsAdmin()">
      <select [(ngModel)]="view.status" name="type" class="form-control" required title="Status auswählen" (ngModelChange)="onStatusChange($event)">
        <option value="" disabled selected>Status wählen...</option>
        <option *ngFor="let status of statuses" [value]="status.key">{{ status.value }}</option>
      </select>
    </fieldset>

    <div class="alert alert-success alert-dismissible" role="alert" *ngIf="statusUpdateSuccess">
      Die Änderung am Status konnte erfolgreich gesichert werden!
      <button type="button" class="close" aria-label="Close" (click)="closeStatusMessage()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="statusUpdateFailed">
      <strong>Fehler!</strong> Die Änderung am Status konnte nicht gesichert werden, versuchen Sie es später erneut!
      <button type="button" class="close" aria-label="Close" (click)="closeStatusMessage()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- ************* ADMIN VIEW END ************* -->
  </div>
  <h3>
    <small>Typ: {{ view.forumType }}</small>
  </h3>
  <blockquote [innerHtml]="view.description | trustHtml"></blockquote>
</div>

<div>
  <app-post-create *ngIf="view.userCanCreatePost" (createPostEvent)="addNewPost($event)"></app-post-create>
  <hr>
  <app-post-list [view]="view.postList" [threadId]="threadId" [postToHighlight]="postToHighlight"></app-post-list>
</div>