.ContainerBG {
  background-color: white;
  border: 1px solid #b8b8b8;
  padding: 1em;
}

fieldset {
  margin-top: 0.5em;
  margin-bottom: 0.5em, ;
}

.widthStatus {
  width: max-content;
}

hr {
  border-color: #48A0CF;
}
