.btn-type {
    width: 18em;
    text-align: left;
  }
  
  .editor {
    width: 75%;
    min-width: 25em;
  }
  
  .fr-view {
    min-height: 20em;
  }
  
  .whiteBG{
    background-color: white;
    border: 1px solid #dddddd;
    padding: 1em;
  }