<div>
  <ol class="breadcrumb">
    <!-- ************* BREADCRUMB START ************* -->
    <li>
      <a [routerLink]="['/forums']">Forenübersicht</a>
    </li>
    <li>
      <a [routerLink]="['/forum', view.forumId]">{{ view.forumName }}</a>
    </li>
    <li class="active">{{ view.title }} bearbeiten</li>
  </ol>
  <!-- ************* BREADCRUMB END ************* -->
</div>
<div class="whiteBG">
  <div class="marginContent">
    <h1>Thema {{ view.title }} bearbeiten</h1>
  </div>
  <form role="form" [formGroup]="rForm">
    
    <!-- ************* EDIT TITLE START ************* -->
    <div class="form-group marginBottom">
      <label for="title">Thema</label>
      <input [(ngModel)]="request.title" name="title" type="text" class="form-control" id="title" placeholder="Wichtiges Thema"
        title="Thema" formControlName="title" />
      <small>Geben Sie Ihrem Thema eine Überschrift</small>
      <div class="alert alert-danger fade in" *ngIf="!rForm.controls['title'].valid && rForm.controls['title'].touched">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Fehler!</strong> {{ titleAlert }}
      </div>
    </div>
    <!-- ************* EDIT TITLE END ************* -->

    <!-- ************* EDIT DESCRIPTION START ************* -->
    <div>
      <div>
        <label>Beschreibung des Themas</label>
      </div>
      <quill-editor class="editor" title="Themenbeschreibung" [(ngModel)]="request.descriptionHtml" [modules]="editorModules" formControlName="editDescription"></quill-editor>
      <div class="alert alert-danger fade in" *ngIf="!rForm.controls['editDescription'].valid && rForm.controls['editDescription'].touched">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Fehler!</strong> {{ titleAlert }}
      </div>
      <!-- ************* EDIT DESCRIPTION END ************* -->

      <!-- ************* SAVE CHANGES START ************* -->
      <button (click)="update()" placeholder="Themenbeschreibung bearbeiten..." [disabled]="!rForm.valid" class="btn btn-info btn-block marginContent editor"
        title="Änderungen an Thema {{ view.title }}  sichern">Änderungen an Thema {{ view.title }} sichern</button>

      <div class="alert alert-success marginContent" role="alert" *ngIf="showSuccessMessage">
        <h4 class="alert-heading">Änderungen erfolgreich gesichert!</h4>
        <p>Das Thema {{ view.title }} wurde geändert!</p>
      </div>

      <div class="alert alert-danger marginContent" role="alert" *ngIf="showErrorMessage">
        <h4 class="alert-heading">Fehler!</h4>
        <p>Ihre Änderungen am Thema {{ view.title }} konnten nicht gesichert werden. Versuchen Sie es später erneut, oder wenden Sie sich
          an einen Admin!</p>
      <!-- ************* SAVE CHANGES END ************* -->
      </div>
    </div>
  </form>
</div>