<div class="btn-toolbar" role="toolbar">
  <button [disabled]="noPrevPage()" class="btn btn-default" (click)="pagingPrev()" aria-label="Previous">
    <span aria-hidden="true">&laquo;</span>
  </button>

  <button [disabled]="pageEqualsCurrentPage(number)" class="btn btn-default" *ngFor="let number of pagingNumbers" (click)="pagingByNumber(number)">
    {{ number }}
  </button>

  <button [disabled]="noNextPage()" class="btn btn-default" (click)="pagingNext()" aria-label="Next">
    <span aria-hidden="true">&raquo;</span>
  </button>
</div>