<div class="marginContent">
  <div class="marginContent">
    <div class="list-group" *ngFor="let thread of view.threads; let i = index">
      <a [routerLink]="['./thread', thread.id]" class="list-group-item list-group-item-action active">
        <b>{{ thread.title }}</b>,
        <small>erstellt von: {{ thread.creator }}</small>
      </a>
      <a [routerLink]="['./thread', thread.id]" class="list-group-item list-group-item-action" *ngIf="view.forumHasStatusFeature">Status der Ankündigung: {{ thread.status | translateThreadStatus }}</a>
      <a [routerLink]="['./thread', thread.id]" class="list-group-item list-group-item-action ellipsis" [innerHtml]="thread.description | trustHtml"></a>
      <li class="list-group-item">
        <a [routerLink]="['./thread', thread.id, 'edit']" class="btn btn-primary btn-sm" role="button" title="Thema bearbeiten">
          &nbsp;
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
        </a>
        <button class="btn btn-danger btn-sm" type="button" title="Thema endgültig löschen" (click)="openModal(thread)">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
        <a (click)="recoverThread(thread.id)" class="btn btn-success btn-sm" role="button" title="Thema wiederherstellen">
          <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        </a>
      </li>
    </div>
    <ul class="list-group" *ngIf="!view.threads || hasNoDeletedThreads()">
      <li class="text-center list-group-item active">Keine Themen im Forum vorhanden</li>
    </ul>
  </div>

  <!-- ************* PAGINATION START ************* -->
  <app-pagination 
  [paging]="view.paging" 
  (pagingByNumberEvent)="onPagingByNumberEvent($event)" 
  (pagignPrevResponseEvent)="handlePagingResponseEvents($event)"
  (pagingNextResponseEvent)="handlePagingResponseEvents($event)">
  </app-pagination>
  <!-- ************* PAGINATION END ************* -->
</div>

<!-- ************* MODAL START ************* -->
<app-delete-data-modal>
  <div class="app-modal-header">
    Thema {{ modal.entity.name }} löschen
  </div>
  <div class="app-modal-body">
    Sind Sie sich sicher, dass Sie das Thema {{ modal.entity.name }} wirklich löschen möchten?
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.hide()">Abbrechen</button>
    <button type="button" class="btn btn-primary" (click)="deleteThread(modal.entity.id)">Thema endgültig löschen</button>
  </div>
</app-delete-data-modal>
<!-- ************* MODAL END ************* -->