.list-group {
  border-radius: 0;
}

.active {
  background-color: #da4453;
}

.active:hover {
  background-color: #b43844;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  border-color: #b43844;
  ;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
