.marginContent {
  margin-top: 2em;
}

.marginBottom {
  margin-bottom: 1em;
}

.noMargin {
  margin: 0;
  padding: 0;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #337ab7;
}

.btn-primary:hover {
  background-color: #275c8b;
}

.btn-success {
  background-color: #1f9b7c;
}

.btn-success:hover {
  background-color: #187a62;
}

.btn-danger {
  background-color: #da4453;
}

.btn-danger:hover {
  background-color: #b33a46;
}

.btn-info {
  background-color: #48A0CF;
}

.btn-info:hover {
  background-color: rgb(60, 130, 168);
}

.btn-default {
  background-color: #CCC;
}

.btn-default:hover {
  background-color: rgb(175, 175, 175);
}

a {
  color: #247aa8;
}

a:hover {
  color: #165170;
}

.active {
  color: #ddd;
}

body {
  background-color: #EEEEEE;
}
